th {
    text-align: left;
    padding: 7px;
}

.bold{
    font-weight: bold;
}

hr.line {
    border-top: 1px dashed;
}

.heleprintet{
    border: 1px dashed black;
    width: 500px;
    margin: auto;
}
.blank_row
{
    height: 10px !important; /* overwrites any other rules */
    background-color: #FFFFFF;
}