/*@Author Jacob Kjærby Christensen S174130*/
form {
    display: none;
}

#buttonOpret {
    display: block;
}

#buttonRediger {
    display: block;
}

#buttonSlet {
    display: block;
}

#buttonFind {
    display: block;
}

#submit4 {
    display: block;
}

#printBodyLayout {
    display: none;
}

