/* Alle body elementer*/
body {font-family: Georgia, serif;}

/* Login forsiden*/
body.login-page {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
#imgbox {
    position: relative;
    display: flex;
    background: #425f9c;
    width: 73%;
    height: 50%;
    left: 0;
    top: 0;

}
#bygning {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
#whole-panel {
    float: right;
    position: relative;
}
#maincontainer {
    text-align: left;
    right: 6px;
    padding: 5px;
}
#login-title {
    font-weight: lighter;
}
#loginbutton {
    border: none;
    background-color: rgb(57, 143, 236);
    min-width: 80px;
    width: auto;
    height: 30px;
    padding: 4px 20px 6px 20px;
    border-style: solid;
    border-width: 1px;
    transition: background 0s;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-bottom: 8px;
}
#title{
    max-width: 300px;
    font-size: 40px;
    margin-top: 100px;
}
#logo {
    float: right;
    margin-right: 110px;
    margin-top: 15px;
}
.title {
    width: 500px;

}
.password-field, .username-field {
    width: 342px;
    padding: 7px;
    margin-bottom: 7px;
    border: 1px solid gray;
}

/* Homepage */
#homepage-title {
    margin-left: 45px;
}
#homepage-body { background: #f7f7f7
}
li {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li:hover {
    background: #658ee7;
    color: #f7f7f7;
}
.navigation {
    padding-left: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: cornflowerblue;
}
.home {
    height: 650px;
    padding-top: 1px;
    width: 95%;
    margin: auto;
    position: relative;
}
.section-title {
    margin: 25px 0 0 20px;
    width: fit-content;

}
.paragraph {
    margin: 25px 0 50px 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 35%;
    margin-bottom: 20px;
    font-size: 19px;
    position: relative;
    background: aliceblue;
}


#drugimg {
    position: absolute;
    right: 0;
    top: 0;
    margin: 35px 45px 0 0;
    border-radius: 10px;

}


