body {font-family: Georgia, serif;}
body.login-page {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
#imgbox {
    position: relative;
    display: flex;
    background: #425f9c;
    width: 73%;
    height: 50%;
    left: 0;
    top: 0;

}
#bygning {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
#whole-panel {
    float: right;
    position: relative;
}
#maincontainer {
    text-align: left;
    right: 6px;
    padding: 5px;
}
#login-title {
    font-weight: lighter;
}
#loginbutton {
    border: none;
    background-color: rgb(57, 143, 236);
    min-width: 80px;
    width: auto;
    height: 30px;
    padding: 4px 20px 6px 20px;
    border-style: solid;
    border-width: 1px;
    transition: background 0s;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-bottom: 8px;
}
#title{
    max-width: 300px;
    font-size: 40px;
    margin-top: 100px;
}
#logo {
    float: right;
    margin-right: 110px;
    margin-top: 15px;
}

.title {
    width: 500px;

}
.password-field, .username-field {
    width: 342px;
    padding: 7px;
    margin-bottom: 7px;
    border: 1px solid gray;
}
li {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li:hover {
    background: #425f9c;
}
.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: cornflowerblue;
}
.home {
    border: 2px solid black;
    position: relative;
}
#paragraph {
    border: 2px solid black;
    width: 35%;
}
#drugimg{
    position: absolute;
    border: 2px solid black;
    float: right;
}

